#para1::first-letter {
	color: #145912;
	font-size: 100%;
	font-weight: bold;
}
#para2::first-letter {
	color: #fe9128;
	font-size: 100%;
	font-weight: bold;
}
#para3::first-letter {
	color: #04ccaa;
	font-size: 100%;
	font-weight: bold;
}
p {
	color: #8f4a33;
}
body {
	background-color: blue;
}
div {
	background-color: #d0e9e1;
}
img {
	float: right;
	border: 10px solid #8f4a33;
}
a:visited {
    color: green;
}
a:hover {
    color: hotpink;
}
a:active {
    color: blue;
}